
<div>
        <br>
        <mat-card>
            <button mat-raised-button color="primary" routerLink="/list_of_stations">
              Back
              &nbsp; &nbsp; &nbsp; 
              <mat-icon>keyboard_backspace</mat-icon>    
            </button>
            &nbsp; &nbsp;
            <button mat-raised-button color="primary" routerLink="/list_of_places">
              Select Another Place
              &nbsp; &nbsp; &nbsp; 
              <mat-icon>location_on</mat-icon>    
            </button>
            &nbsp; &nbsp;
            <button mat-raised-button color="primary" routerLink="/home">
              Home
              &nbsp; &nbsp; &nbsp; 
              <mat-icon>search</mat-icon>    
            </button>
</mat-card>
</div>  
<h2>{{ title }}</h2>    
<svg class = "StackBarComponent" width="960" height="500"></svg>
