.axis .domain {
  display: none;
}

.axis-title {
fill: none;
stroke: black;
stroke-width: 0.5px;
}

.x axis{
fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.y axis{
fill: none;
  stroke: black;
  stroke-width: 0.5px;
  font-weight: bold;
}