<h2>{{ title }}</h2>
<br>
<mat-card>
  <button mat-raised-button color="primary" routerLink="/list_of_stations">
    Back
    &nbsp; &nbsp; &nbsp;
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  &nbsp; &nbsp;&nbsp;
  <button mat-raised-button color="primary" routerLink="/find">
    Home Page
    &nbsp; &nbsp; &nbsp; 
    <mat-icon>search</mat-icon>  
    </button>
    &nbsp; &nbsp; &nbsp; 
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Real time Chart</button>
        <mat-menu #menu="matMenu">
          <button (click)="realtimechart(1)" mat-menu-item>1 Hour</button>
          <button (click)="realtimechart(24)" mat-menu-item>24 Hours</button>
          <button (click)="realtimechart(168)" mat-menu-item>7 Days</button>
        </mat-menu>

<br>
<svg class="MultiLineChartComponent" width="960" height="500"></svg>
    