<div>
  <br>
  
    <img src="http://eskipaper.com/images/chicago-night-city-view-1.jpg" style="width:1670px;height:1000px;">
    <button mat-raised-button color="primary" class="b1" routerLink="/find">
      Places
      &nbsp; &nbsp; &nbsp;
      <mat-icon>home</mat-icon>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" class="b2" (click)="heatmap()">
      Divvy HeatMap
      &nbsp; &nbsp; &nbsp;
      <mat-icon>directions_bike</mat-icon>
    </button>
    &nbsp; &nbsp;&nbsp;

</div>
