<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/list_of_stations">
      Back
      &nbsp; &nbsp; &nbsp;
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    &nbsp; &nbsp;&nbsp;
    <button mat-raised-button color="primary" routerLink="/list_of_stations">
      Select Another Station
      &nbsp; &nbsp; &nbsp;
      <mat-icon>directions_bike</mat-icon>
    </button>
    &nbsp; &nbsp;&nbsp;


        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">User's Time Selection<mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button (click)="draw_line_chart(1)" mat-menu-item>1 Hour</button>
          <button (click)="draw_line_chart(24)" mat-menu-item>24 Hours</button>
          <button (click)="draw_line_chart(168)" mat-menu-item>7 Days</button>
        </mat-menu>
        
    &nbsp; &nbsp;&nbsp;

    <br><br>
    <mat-divider></mat-divider>
    <br>
    <h2>{{ title }}</h2>
    <div>


      <svg class= "SMAchartComponent" width="960" height="500"></svg>
    </div>
  </mat-card>
</div>